# Configuration file for bsrender
# ICRS coordinates are same epoch as source data (J2016.0 for Gaia DR3)
#
bsrender_cfg_version=1.0           # Version of bsrender this config file is intended for
#
# Privileged options - these cannot be changed by remote users in CGI mode
#
data_file_directory="galaxydata"   # Path to star galaxy-* data files, limit 255 characters
output_file_name="galaxy.png"      # Output filename, may include path, limit 255 characters. If EXR file format
#                                  # is selected the default changes to "galaxy.exr"
print_status=yes                   # yes = print status messages to stdout when not in CGI mode
#                                    no = suppress status messages except for errors
num_threads=16                     # Total number of threads including main thread and worker threads (minimum 2)
#                                    For best performance set to number of vcpus
per_thread_buffer=1000             # Number of stars to buffer between each worker thread and main thread
#                                    Also sets size of dedup buffer for each thread
per_thread_buffer_Airy=100000      # Number of stars to buffer between each worker thread and main thread
#                                    when Airy disks are enabled. Also sets size of dedup buffer for each thread
cgi_mode=no                        # yes = enable CGI mode (html headers and png data written to stdout)
cgi_max_res_x=999999               # Maximum allowed horizontal resolution for CGI users
cgi_max_res_y=999999               # Maximum allowed vertical resolution for CGI users
cgi_Gaia_min_parallax_quality=0    # Minimum allowed parallax quality of Gaia stars for CGI users
cgi_allow_Airy_disk=yes            # yes = Airy disk mode is allowed for CGI users
cgi_min_Airy_disk_first_null=0.3   # Minimum allowed first null distance for CGI users
cgi_max_Airy_disk_min_extent=3     # Maximum allowed Airy disk minimum extent for CGI users
cgi_max_Airy_disk_max_extent=1000  # Maximum allowed Airy disk extent for CGI users
cgi_allow_anti_alias=yes           # yes = anti-aliasing mode is allowed for CGI users
#
# Star filters
#
Gaia_db_enable=yes                 # Enable galaxy-pq*.dat with Gaia stars
Gaia_min_parallax_quality=0        # Minimum parallax quality of Gaia stars (GDR3 'parallax_over_error')
#                                    Valid values: 0,1,2,3,5,10,20,30,50,100
external_db_enable=yes             # Enable galaxy-external.dat with non-Gaia stars
render_distance_min=0.0            # Minimum star distance
render_distance_max=1.0E99         # Maximum star distance
render_distance_selector=0         # Min/max star distance is measured from 0=camera, 1=target
star_intensity_min=1.0E99          # Minimum star intensity (Vega scale magnitude). Note: this applies after
#                                    extinction undimming if enabled
star_intensity_max=-1.0E99         # Maximum star intensity (Vega scale magnitude). Note: this applies after
#                                    extinction undimming if enabled
star_intensity_selector=0          # Min/max star intensity is measured from 0=camera, 1=Earth, 2=10 parsecs
star_color_min=0.0                 # Minimum star color temperature in Kelvin
star_color_max=1.0E99              # Maximum star color temperature in Kelvin
#
# Extinction
#
extinction_dimming_undo=no         # yes = undo extinction dimming (based on Gaia DR3 AG_GSPPHOT)
extinction_reddening_undo=no       # yes = undo extinction reddening (based on Gaia DR3 TEFF_GSPPHOT)
#
# Camera
#
camera_res_x=4000                  # Horizontal resolution
camera_res_y=2000                  # Vertical resolution
camera_fov=360.0                   # Field of vew in decimal degrees
camera_pixel_limit_mag=8.0         # Pixel maximum exposure reference point in Vega scale magnitude
camera_pixel_limit_mode=-1         # How to handle overexposed pixels: -1=default: integer=0, floating-point=2
#                                    0=saturate to white, 1=preserve color
#                                    2=don't limit (floating-point formats only)
camera_wb_enable=yes               # Enable white balance correction
camera_wb_temp=4300.0              # White balance color temperature in Kelvin
camera_color_saturation=1.0        # Chroma saturation level (4.0 = 4x crhoma)
camera_gamma=1.0                   # Image gamma adjustment. This option never changes PNG header gamma as it
#                                    is intended to modify the way the image looks
camera_projection=0                # Raster projection: 0 = lat/lon, 1 = spherical, 2 = Hammer, 3 = Mollewide
spherical_orientation=0            # Spherical projection orientation: 0=forward centered, 1 = forward on
#                                    left, rear on right
Mollewide_iterations=5             # Number of iterations for Mollewide projection algorithm
#
# Camera bandpass filters
#
red_filter_long_limit=705.0        # Red channel passpand long wavelength limit in nm
red_filter_short_limit=550.0       # Red channel passband short wavelength limit in nm
green_filter_long_limit=600.0      # Green channel passband long wavelength limit in nm
green_filter_short_limit=445.0     # Green channel passband short wavelength limit in nm
blue_filter_long_limit=465.0       # Blue channel passband long wavelength limit in nm
blue_filter_short_limit=395.0      # Blue channel passband short wavelength limit in nm
#
# Diffraction
#
Airy_disk_enable=no                # yes = spread star flux with Airy disk pattern
#                                    no = star flux is mapped to exactly one output pixel
Airy_disk_first_null=0.75          # Radius to the first Airy disk null (green channel) in pixels
#                                    This sets the scale for the Airy disk patterns.
Airy_disk_max_extent=100           # Maximum extent of Airy disk pattern in pixels
#                                    To minimize rendering time actual extent is autoscaled between min-max
#                                    for each star depending on how bright it is
Airy_disk_min_extent=1             # Minimum extent of Airy disk pattern in pixels. Minimum extent for all stars
#                                    Larger values can dramatically increase rendering time
Airy_disk_obstruction=0.0          # Aperture obstruction ratio (secondary mirror for example). Set to 0.0
#                                    for unobstructed aperture. Hubble=0.127
#
# Anti-aliasing
#
anti_alias_enable=no               # yes = spread pixel intensity to neighboring pixels
#                                    no = pixel intensity is mapped to nearest pixel
#                                    This also applies to each Airy disk pixel
anti_alias_radius=1.0              # Radius of anti-aliasing spread in pixels. Valid range 0.5 - 2.0
#
# Skyglow
#
skyglow_enable=no                  # Enable skyglow effect
skyglow_temp=4500.0                # Effective temperature of skyglow in Kelvin
skyglow_per_pixel_mag=14.0         # Intensity of skyglow per output pixel in Vega scale magnitude
#
# Post-processing
#
Gaussian_blur_radius=0.0           # Optional Gaussian blur with this radius in pixels
output_scaling_factor=1.0          # Optional output scaling using Lanczos2 interpolation
Lanczos_order=3                    # Lanczos order parameter for output scaling
#
# Overlays
#
draw_crosshairs=no                 # Draw small crosshairs in center of image. Note: This will not be
#                                    centered on target if pan, tilt, or in side-by-side spherical mode is used
draw_grid_lines=no                 # Draw horizontal and vertical lines at 25%, 50%, and 75% of width and height
#
# Output
#
output_format=0                    # 0 = PNG 8-bit unsigned integer per color
#                                    1 = PNG 16-bit unsigned integer per color
#                                    2 = EXR 16-bit floating-point per color
#                                    3 = EXR 32-bit floating-point per color
#                                    4 = EXR 32-bit unsigned integer per color
icc_profile=-1                     # -1 = default: PNG=sRGB, EXR=None
#                                    0 = None - linear gamma, 1 = sRGB, 2 = Display-P3 (compatible Z),
#                                    3 = Rec. 2020 (compatible Z), 4 = Rec. 601 NTSC, 5 = Rec. 601 PAL,
#                                    6 = Rec. 709, 7 = None - flat 2.0 gamma
#                                    ICC profiles are v4 from https://github.com/saucecontrol/Compact-ICC-Profiles
#                                    The EXR format does not support ICC profiles or encoding gamma. Instead, the
#                                    chromaticities associated with the selected profile is included in the header
# Camera position in Euclidian ICRS coordinates
#
camera_icrs_x=0.0                  # x coordinate in parsecs
camera_icrs_y=0.0                  # y coordinate in parsecs
camera_icrs_z=0.0                  # z coordinate in parsecs
#
# Camera position in spherical ICRS coordinates. These override Euclidian if not zero
#
camera_icrs_ra=0.0                 # Right ascension in decimal degrees
camera_icrs_dec=0.0                # Declination in decimal degrees
camera_icrs_r=0.0                  # Distance in parsecs
#
# Camera target in Euclidian ICRS coordinates
#
target_icrs_x=0.0                  # x coordinate in parsecs
target_icrs_y=0.0                  # y coordinate in parsecs
target_icrs_z=0.0                  # z coordinate in parsecs
#
# Camera target in spherical ICRS coordinates. These override Euclidian if not zero
#
target_icrs_ra=266.4168371        # Right ascension in decimal degrees
target_icrs_dec=-29.0078106       # Declination in decimal degrees
target_icrs_r=8178.0              # Distance in parsecs
#
# Optional camera rotation/pan/tilt after aiming at target
#
camera_rotation=-58.6             # Camera rotation once aimed at target in decimal degrees
camera_pan=0.0                    # Camera left-right pan once aimed at target and rotated in decimal degrees
camera_tilt=0.0                   # Camera up/down tilt once aimed at arget, rotated, and panned in decimal degrees
